body{
	background: url('indexBackground.png');
}

.well{

	background-color: #444;
	color: #FFFFFF;
}

.row{
	padding-top:70px;
}

h1{
	padding-top:20px;
	font-size: 48px;
	font-weight: bold;
	color: brown;
}